@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Noto+Serif:ital,wght@0,300;1,600&family=Outfit:wght@400;700&family=Source+Serif+4:ital,opsz@1,8..60&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Aladin', cursive;
    text-align: center;
    font-family: 'Source Serif 4', serif;
}
#author{
    font-family: 'Noto Serif', serif;
    text-align: right;
    margin-right: 5px;
}
video{
    /* position:absolute; */
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color:transparent;
    backdrop-filter:blur(5px);
    padding: 10px;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    border: solid 2px rgba(71, 38, 38, 0.247);
    box-shadow: 0 0 10px #927464 ;
    opacity: 10;

}
.quotation{
    display: flex;
    
}
#quote{
    color: azure;
}
.quotedisplay{
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align:left !important;
    gap:10px;
    color:#008461;
    font-weight:800;
}
#btn{
    padding: 10px 12px;
    border-radius: 15px;
    background-color: #0290D3;
    border: #423229;
    box-shadow: 0 0 10px #917464 ;
    color:azure;
    font-weight:700;
}
#btn:hover{
    cursor: pointer;
    color: azure;
    background-color: #008461;
    font-weight:700;
    transform:scale(1.1)
}
/* Your existing CSS */

/* Media query for small screens */
@media screen and (max-width: 768px) {
    #author {
        color:black;
    }
    .quotedisplay{
        color: black;
    }

}
